# Fichiers d'ignore recommandés

# Python
__pycache__/
*.py[cod]
*.so

# Virtualenv
venv/
.env
.venv/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Logs
*.log

# Coverage
htmlcov/
.coverage

# Build
build/
dist/

# Byte-compiled
*.pyc
